In this video, we will explore pandas'features for reading and working with various popular data formats. We will also learn how to read data from JSON format, HTML files, and the PICKLE dataset and how to read data from an SQL-based database

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
%cd /content/drive/My Drive/Colab Notebooks

/content/drive/My Drive/Colab Notebooks

**Reading a JSON file**

JSON is a minimal readable format for structuring data. It is used primarily to transmit data between a server and web application as an alternative to XML.


To read JSON data, pandas provides a method called read_json, where we pass the filename and location of the JSON data file we want to read. The file location can be local or even on the internet with a valid URL scheme. We assign the resulting DataFrame to the variable DF.


The read_json method reads the JSON data and converts it into a pandas DataFrame object, a tabular data format.

In [4]:
import pandas as pd
movies_json = pd.read_json('IMDB.json')
movies_json.head()

   X                    Title  Rating  ...     Domestic    Foreign     Worldwide
0  1  12 Years a Slave�(2013)     8.1  ...  $56,671,993  131061209  $187,733,202
1  2         127 Hours�(2010)     7.6  ...  $18,335,230   42403567   $60,738,797
2  3             50/50�(2011)     7.7  ...  $35,014,192    4173591   $39,187,783
3  4        About Time�(2013)     7.8  ...  $15,322,921   71777528   $87,100,449
4  5             Amour�(2012)     7.9  ...   $6,739,492   13100000   $19,839,492

[5 rows x 58 columns]

**Reading HTML data**


Pandas uses the lxml python module internally to read HTML data. You can install it from the command line program by executing conda install lxml in case if you use jupiter notebook.

We can also import HTML data from local file or even directly from the internet as well.

In [6]:
html_data = pd.read_html('IMDB.html')

**Reading a PICKLE file**

picking is a way to convert a python object of any type, including a list, dictionary and so on, into a character string. The idea is that this character string contains all the information necessary for reconstructing the object in another python script. 


We will use read_pickle method to read our PICKLE FILE.

In [7]:
df= pd.read_pickle('IMDB.p')
df.head()

   X                     Title  Rating  ...      Domestic    Foreign      Worldwide
0  1  12 Years a SlaveÂ (2013)     8.1  ...  $56,671,993   131061209  $187,733,202
1  2         127 HoursÂ (2010)     7.6  ...  $18,335,230    42403567   $60,738,797
2  3             50/50Â (2011)     7.7  ...  $35,014,192     4173591   $39,187,783
3  4        About TimeÂ (2013)     7.8  ...  $15,322,921    71777528   $87,100,449
4  5             AmourÂ (2012)     7.9  ...   $6,739,492    13100000   $19,839,492

[5 rows x 58 columns]

**Reading SQL data**

Here we will be reading SQL data from the piplar database browser that is SQLite which can be installed by using conda  install sqlite in case if you use Jupiter notebook.

In [8]:
import sqlite3
# Then we will create a connecting to the SQLite DB you want to read from

conn = sqlite3.connect("IMDB.sqlite")
df = pd.read_sql_query("SELECT *  FROM IMDB;", conn)
# SELECT *  FROM IMDB; is a database command that select everything in the table IMDB. And of course you can choose any command from the database to put inside.
# The read_sql_query is a method reads the data and creates a Dataframe object.
df.head()

   X                    Title  Rating  ...      Domestic    Foreign      Worldwide
0  1  12 Years a Slave (2013)     8.1  ...  $56,671,993   131061209  $187,733,202
1  2         127 Hours (2010)     7.6  ...  $18,335,230    42403567   $60,738,797
2  3             50/50 (2011)     7.7  ...  $35,014,192     4173591   $39,187,783
3  4        About Time (2013)     7.8  ...  $15,322,921    71777528   $87,100,449
4  5             Amour (2012)     7.9  ...   $6,739,492    13100000   $19,839,492

[5 rows x 58 columns]

An SQLite database was used for this demo, but you can read data from other databases too. To do so, just call the appropriate database Python module.