In this section, we will learn how to work with different kinds of dataset formats in pandas. We will learn how to use the advanced options provided by pandas' import csv files. We will also look at how to work with Excel files in pandas, and how to use advanced options of the read_excel method.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
%cd /content/drive/My Drive/Colab Notebooks

/content/drive/My Drive/Colab Notebooks

In [3]:
import pandas as pd
df = pd.read_csv('IMDB.csv', encoding = "ISO-8859-1")
df.head()

   X                     Title  Rating  ...      Domestic    Foreign      Worldwide
0  1  12 Years a SlaveÂ (2013)     8.1  ...  $56,671,993   131061209  $187,733,202
1  2         127 HoursÂ (2010)     7.6  ...  $18,335,230    42403567   $60,738,797
2  3             50/50Â (2011)     7.7  ...  $35,014,192     4173591   $39,187,783
3  4        About TimeÂ (2013)     7.8  ...  $15,322,921    71777528   $87,100,449
4  5             AmourÂ (2012)     7.9  ...   $6,739,492    13100000   $19,839,492

[5 rows x 58 columns]

In order to perform a basic import, pass the filename of the dataset to read_csv, and assign the resulting DataFrame to a varaible. The dataset is a tabular format.

**Manipulating columns, index, locations and names**

By default, read_csv considers the netries in the first row of the csv file as column names, We can turn this off by setting header to None

In [4]:
df = pd.read_csv('IMDB.csv', encoding = "ISO-8859-1", header=None)
df.head()

  0                         1       2   ...            55         56             57
0  X                     Title  Rating  ...      Domestic    Foreign      Worldwide
1  1  12 Years a SlaveÂ (2013)     8.1  ...  $56,671,993   131061209  $187,733,202
2  2         127 HoursÂ (2010)     7.6  ...  $18,335,230    42403567   $60,738,797
3  3             50/50Â (2011)     7.7  ...  $35,014,192     4173591   $39,187,783
4  4        About TimeÂ (2013)     7.8  ...  $15,322,921    71777528   $87,100,449

[5 rows x 58 columns]

**Specifying a different row as a header**

You can also set the column name from a different row- instead of the deafualt first row- by passing the row number to the header option

In [5]:
df = pd.read_csv('IMDB.csv', encoding = "ISO-8859-1", header=2)
df.head()

   2   127 HoursÂ (2010)  7.6  ...   $18,335,230    42403567   $60,738,797
0  3       50/50Â (2011)  7.7  ...   $35,014,192     4173591   $39,187,783
1  4  About TimeÂ (2013)  7.8  ...   $15,322,921    71777528   $87,100,449
2  5       AmourÂ (2012)  7.9  ...    $6,739,492    13100000   $19,839,492
3  6        ArgoÂ (2012)  7.7  ...  $136,025,503    96300000  $232,325,503
4  7     ArrivalÂ (2016)  8.0  ...  $100,546,139   102842047  $203,388,186

[5 rows x 58 columns]

**Specifying a column as an index**

By default, read_csv assigns a default numeric index starting with zero while reading the data. However, you can change this behavior by passing the column name to the index column option. Pandas will then set the index to this column.

In [6]:
df = pd.read_csv('IMDB.csv', encoding = "ISO-8859-1", index_col='Title')
df.head()

                          X  Rating  ...    Foreign      Worldwide
Title                                ...
12 Years a SlaveÂ (2013)  1     8.1  ...  131061209  $187,733,202
127 HoursÂ (2010)         2     7.6  ...   42403567   $60,738,797
50/50Â (2011)             3     7.7  ...    4173591   $39,187,783
About TimeÂ (2013)        4     7.8  ...   71777528   $87,100,449
AmourÂ (2012)             5     7.9  ...   13100000   $19,839,492

[5 rows x 57 columns]

Here we passed a movie title as the index name. Now the index name is Title instead of a default numeric index

**Choosing a subset of columns to be read**

We can also choose to read a specific subset of columns in the CSV file. For this we will pass the column names as a list to use the columns option.

In [8]:
df = pd.read_csv('IMDB.csv', encoding = "ISO-8859-1", usecols=['Title', 'Genre1'])
df.head()

                      Title     Genre1
0  12 Years a SlaveÂ (2013)  Biography
1         127 HoursÂ (2010)  Adventure
2             50/50Â (2011)     Comedy
3        About TimeÂ (2013)     Comedy
4             AmourÂ (2012)      Drama

**Handling missing and NA data**

In [9]:
df = pd.read_csv('IMDB.csv', encoding = "ISO-8859-1", na_values=[''])

**Choosing whether to skip over blank rows**


Sometimes whole row have no values, hence we can choose what to do with these rows while reading data. By default, read_csv ignores blank rows, but we can turn this off by setting skip_blank_lines to False

In [10]:
df = pd.read_csv('IMDB.csv', encoding = "ISO-8859-1", skip_blank_lines=False)

**Data parsing options**

We can choose which rows are skipped by reading a CSV file. We can pass the row numbers as a list to the skiprows option. The first row has the index zero.

In [11]:
df = pd.read_csv('IMDB.csv', encoding = "ISO-8859-1", skiprows=[1,3,7])
df.head()

   X                    Title  Rating  ...       Domestic   Foreign      Worldwide
0  2        127 HoursÂ (2010)     7.6  ...   $18,335,230   42403567   $60,738,797
1  4       About TimeÂ (2013)     7.8  ...   $15,322,921   71777528   $87,100,449
2  5            AmourÂ (2012)     7.9  ...    $6,739,492   13100000   $19,839,492
3  6             ArgoÂ (2012)     7.7  ...  $136,025,503   96300000  $232,325,503
4  9  Before MidnightÂ (2013)     7.9  ...    $8,114,627    3061842   $11,176,469

[5 rows x 58 columns]

**Skipping rows from the footer or end of the file**

To skip rows from the footer or the end of a file, use the skipfooter option and pass a number specifying the number of rows to skip.

In [12]:
df.tail(2)
df = pd.read_csv('IMDB.csv', encoding = "ISO-8859-1", skipfooter=2, engine='python')
df.tail(2)

       X                               Title  ...    Foreign      Worldwide
113  115              Wreck-It RalphÂ (2012)  ...  281800000  $471,222,889
114  116  X-Men: Days of Future PastÂ (2014)  ...  513941241  $747,862,775

[2 rows x 58 columns]

In the above code, we did pass 2. As we can see there is a difference between the previous Dataframe we created and the DataFrame we created after skipping the last 2 rows

**Reading the subset of a file or a certain number of rows**


Sometimes a data file is too big and we just want to have a peek at the first few rows. We can do that by passing the number of rows to import to the nrows option. We will pass 100 to nrows which then read only the first hundred rows from the dataset.

In [14]:
df = pd.read_csv('IMDB.csv', encoding = "ISO-8859-1",nrows=100)
df.shape

(100, 58)